<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">

		<intercept-url pattern="/admin/**"
			access="ROLE_ADMINISTRADOR" />

		<intercept-url pattern="/gestor/**"
			access="ROLE_ADMINISTRADOR,ROLE_GESTOR" />

		<intercept-url pattern="/inspetor/**"
			access="ROLE_INSPETOR,ROLE_GESTOR,ROLE_ADMINISTRADOR" />

		<form-login login-page="/publico/login.xhtml"
			always-use-default-target="true"
			authentication-success-handler-ref="successHandler"
			authentication-failure-url="/publico/login.xhtml?login_error=1" />
		<logout logout-success-url="/publico/login.xhtml" />
		<remember-me />
	</http>
	<beans:bean id="successHandler"
		class="negocio.RedirecionaPagina"></beans:bean>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service
				data-source-ref="CtrlQualidadeDataSource"
				authorities-by-username-query="SELECT pes_nome, pes_tipo 
																	FROM bel_pessoa 
																	WHERE pes_usuario = ?"
				users-by-username-query="SELECT pes_usuario, pes_senha, '1' FROM bel_pessoa WHERE pes_usuario = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>

